<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.philipp.battleships" >

    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                android:screenOrientation="landscape"
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MultiplayerMenu"
            android:label="@string/title_activity_multiplyer_menu"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".NFC_Option"
            android:label="@string/title_activity_nfc__option"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BattleActivity"
            android:label="@string/title_activity_battle" >
        </activity>
        <activity
            android:name=".ShipPositionsActivity"
            android:label="@string/title_activity_ship_positions" >
        </activity>
        <activity
            android:name=".ShipPositionSinglePlayerActivity"
            android:label="ShipPositionSinglePlayerActivity" >
        </activity>
        <activity
            android:name=".SinglePlayerBattleActivity"
            android:label="SinglePlayerBattleActivity" >
        </activity>
        <activity
            android:name=".GameOver"
            android:label="@string/title_activity_game_over"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".GameOverSinglePlayer"
            android:screenOrientation="landscape"
            android:label="@string/title_activity_game_over_single_player" >
        </activity>
    </application>

</manifest>
